//== Paragraph component for use across site
//
//## h1, h2, h3, h4
.ac-body

  .ac-info-subTitle
    color $font-blue


  h1
    margin-bottom 30px
    margin-bottom 1.5rem
    color $font-blue
    font-size(1)
