//== Buttons component for use across site
//
//##
.ac-btn
  display inline-block
  padding 10px 20px
  padding 0.5rem 1rem
  text-decoration none
  color $font-blue
  font-size 14px
  font-size .7rem
  border none
  &:hover,&:active,&:visited,&:link
    color $font-blue
    text-decoration none


.ac-btn-info,.ac-btn-success,.ac-btn-primary,.ac-btn-warning,.ac-btn-danger,.ac-btn-disable
  color $font-white
  &:link,&:active,&:visited,&:hover
    color $font-white

.ac-btn-info
  background-color $co-info
  &:hover
    background-color $co-info-light

.ac-btn-success
  background-color $co-success
  &:hover
    background-color $co-success-light

.ac-btn-primary
  background-color $co-primary
  &:hover
    background-color $co-primary-light

.ac-btn-warning
  background-color $co-warning
  &:hover
    background-color $co-warning-light

.ac-btn-danger
  background-color $co-danger
  &:hover
    background-color $co-danger-light

.ac-btn-disable
  &,&:link,&:active,&:visited,&:hover
    background-color $co-disable
    cursor default

.ac-btn-sm
  padding 8px 14px
  font-size 12px