//== Buttons component for use across site
//
//##
.ac-btn
  display inline-block
  padding 10px 20px
  padding 0.5rem 1rem
  text-decoration none
  color $font-blue
  font-size 14px
  font-size .7rem
  border none
  &:hover,&:active,&:visited,&:link
    color $font-blue
    text-decoration none

.ac-btn-info
  color $font-white
  background-color $co-info
  &:link,&:active,&:visited,&:hover
    color $font-white
  &:hover
    background-color $co-info-light

.ac-btn-success
  color $font-white
  background-color $co-success
  &:link,&:active,&:visited,&:hover
    color $font-white
  &:hover
    background-color $co-success-light

.ac-btn-primary
  color $font-white
  background-color $co-primary
  &:link,&:active,&:visited,&:hover
    color $font-white
  &:hover
    background-color $co-primary-light

.ac-btn-warning
  color $font-white
  background-color $co-warning
  &:link,&:active,&:visited,&:hover
    color $font-white
  &:hover
    background-color $co-warning-light

.ac-btn-danger
  color $font-white
  background-color $co-danger
  &:link,&:active,&:visited,&:hover
    color $font-white
  &:hover
    background-color $co-danger-light

.ac-btn-disable
  &,&:link,&:active,&:visited,&:hover
    color $font-white
    background-color $co-disable
    cursor default

.ac-btn-sm
  padding 8px 14px
  font-size 12px