/* !
* APP CRM Header Module
*/

header.ac-header
  margin-bottom 0
  background-color #fff
  border-bottom-width 2px
  border-radius 0

  .container
    @media (min-width $screen-sm-min and max-width $screen-sm-max)
      width auto

  .navbar-brand
    text-align center

  img
    height 100%
    display inline-block
    margin-top -4px
    &.avatar_20
      border-radius 10px

  .navbar-nav
    a
      position relative
      padding-left 8px
      padding-right @padding-left
      font-size 14px
      font-size .7rem
      color $font-blue

      @media (min-width $screen-sm-min)
        padding-left 10px
        padding-right @padding-left

      @media (min-width $screen-md-min)
        padding-left 15px
        padding-right @padding-left

      /* to achieve a beautiful border-bottom */
      &:after
        content ''
        position absolute
        bottom 0
        left 50%
        width 0
        height 3px
        background-color $bg-green
        transition left 200ms ease, width 300ms ease

      &:hover
        color $font-blue
        background-color $bg-white

        &:after
          left 0
          width 100%

    .active
      a
        background-color #fff
        color $font-blue

        &:after
          left 0
          width 100%

        &:hover
          color $font-blue
          background-color $bg-white


footer.ac-footer
  margin-top 20px
  margin-top 1rem
  text-align center
  line-height 1
  font-size 14px
  font-size .7rem
  color $font-gray-light

  a
    color $font-green-dark

.ac-info-jumbotron
  padding-top 30px
  padding-top 1.5rem
  padding-bottom @padding-top
  text-align center

  .ac-info-subTitle
    margin-bottom 12px
    margin-bottom .6rem
    color $font-blue
    ac-head-font-size(0)

  .ac-info-avatar img
    display block
    margin 0 auto
    height 160px
    height 8rem
    width auto
    border-radius 15px

  .ac-info-nav
    margin-top 10px
    margin-top 0.5rem

    a
      font-size 12px
      font-size 0.6rem
      color $font-blue

.ac-main-block
  h2
    text-align center

  .ac-advice-form
    text-align center
    @media (min-width : $screen-md-min)
      margin-left 100px
      margin-left 5rem
      margin-right 100px
      margin-right 5rem

    textarea
      resize none

/* !
* APP CRM New Student Module
*/
.ac-newStudent-wrap
  background-color $bg-white
  padding 20px 20px
  padding 1rem 1rem
  border-radius 10px

  @media (max-width : $screen-xs-max)
    margin-left 16px
    margin-right 16px
    margin-left .8rem
    margin-right .8rem

/*!
* Login Module
*/

// login.html

.login-main
  width 100%
  position relative

.login-main-header
  width 100%
  margin-bottom 8px
  background-color #ffffff
  border 0

  .navbar-header
    .navbar-brand
      padding 0

  @media (max-width : $screen-xs-max)
    display none

.login-main-footer
  margin-top 20px
  p
    font-size 14px
    font-size .7rem
    color $gray-light
    text-align center
    line-height .8

    a.beian_link
      color $gray-light
      text-decoration none;


.login-main-body
  min-height 500px
  width 100%
  background url("/static/imgs/login_bg.jpg") repeat

  .login-crm-logo
    margin-top 60px
    height 219px
    background-image url("/static/imgs/login_crm_logo.jpg")
    background-repeat no-repeat
    background-position center center
    background-size auto @height

    @media (max-width: $screen-xs-max)
      margin-top 40px
      height 124px
      background-size auto @height

  .login-crm-statement
    h1,
    p
      color #ffffff
      text-align center

    h1
      font-size 32px
      font-size 1.6rem
      font-weight 500
      line-height 1.5
      @media (max-width: $screen-xs-max)
        font-size 24px
        font-size 1.2rem

    p
      font-size 16px
      font-size .8rem
      @media (max-width: $screen-xs-max)
        font-size 14px
        font-size .7rem

  .login-form
    box-sizing border-box

    margin 30px auto 40px
    @media (min-width: $screen-sm-min)
      margin-top 60px
      margin-top 3rem

    padding 30px 25px
    min-height 200px
    max-width 300px
    max-width 15rem
    border-radius: 20px;
    background-color rgba(255, 255, 255, .5)

    .input-group
      margin-bottom 20px
      margin-bottom 1rem

      .input-group-addon,
      .form-control
        border 0
        background-color #ffffff


      /* add a divider between glyphicon and input use :after mock */
      .input-group-addon
        position relative
        color #ccc
        &:after
          content ""
          background #ccc
          position absolute
          bottom 20%
          right 0
          height 60%
          width 1px

      /*
      * custom bootstrap.css
      * set the height of inputs which are inside the login form
      */
      .form-control
        height 50px
        height 2.5rem

    .login-toolbar
      position relative
      margin-top -5px
      font-size 14px
      font-size .7rem
      font-weight normal

      label,
      a
        font-weight normal
        color #555555

    .login-submit-btn
      margin-top 16px
      margin-top .8rem
      text-align center

      button
        position relative
        height 70px
        height 3.5rem
        width 70px
        width 3.5rem
        background-color #aaa
        border 0px
        border-radius 35px
        font-size 24px
        color #fff
        cursor auto
        overflow hidden // important to button transition behavior

        span
          display inline
          transition top 500ms ease-out

        // set the basic styles of :after mock
        &:after
          font-size 20px
          position absolute
          top 67px
          left 16px
          transition top 500ms ease-out

        &.login-submit-reset
          &:after
            content '重置'

        &.login-submit-submit
          &:after
            content '登录'

        &.login-submit-btn-active
          cursor pointer
          background-color #1aa495

        &:hover
          // get out of the button field
          span
            top -45px

          &:after
            top 21px



