.ac-main-block
  h2
    text-align center

  .ac-advice-form
    text-align center
    @media (min-width : $screen-md-min)
      margin-left 100px
      margin-left 5rem
      margin-right 100px
      margin-right 5rem


/* !
* APP CRM Block Content Wrap
*/
.ac-editStudent-wrap
.ac-newStudent-wrap
  background-color $bg-white
  padding 20px 20px
  padding 1rem 1rem
  border-radius 10px

  @media (max-width : $screen-xs-max)
    margin-left 16px
    margin-right 16px
    margin-left .8rem
    margin-right .8rem
