//== .ac-m-detail, detail module for use across site
//
//##
.ac-m-detail
  padding-top 26px
  padding-bottom 26px
  background-color $bg-white
  border-radius 10px

  .ac-m-detail-caption
    ac-font-size(5)
    p
      margin 0
      line-height 24px
      line-height 1.2rem

  .ac-m-detail-remind
    margin-top 12px
    margin-top .6rem

  .ac-m-detail-controls
    margin-top 18px
    margin-top .9rem

    .ac-m-detail-control
      display inline-block
      margin-right 2px
      margin-right .2rem
      &:last-child
        margin-right 0