.ac-info-jumbotron
  padding-top 30px
  padding-top 1.5rem
  padding-bottom 30px
  padding-bottom 1.5rem
  text-align center

  @media (max-width : $screen-xs-max)
    padding-top 20px
    padding-top 1rem
    padding-bottom 20px
    padding-bottom 1rem

.ac-info-subTitle
  margin-bottom 12px
  margin-bottom .6rem
  color $font-blue
  ac-font-size(0)

.ac-info-avatar img
  display block
  margin 0 auto
  height 160px
  height 8rem
  width auto
  border-radius 15px

  @media (max-width : $screen-xs-max)
    height 140px
    height 7rem

.ac-info-p
  margin-bottom 16px
  margin-bottom .8rem
  ac-font-size(4)
  line-height 24px
  line-height 1.2rem
  p
    margin-bottom 0


.ac-info-nav
  margin-top 10px
  margin-top 0.5rem

  a
    font-size 12px
    font-size 0.6rem
    color $font-blue

