<div class="login-main">
    <header class="login-main-header navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#login-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="/static/assets/imgs/login_brand.jpg" alt="app crm brand" />
                </a>
            </div>

            <nav class="collapse navbar-collapse" role="navigation" id="login-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
                    <li><a href="/">Case</a></li>
                    <li><a href="/">Help</a></li>
                    <li><a href="/">Advice</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="login-main-body">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="col-sm-12 login-crm-logo" alt="app-crm-logo"></div>
                    <div class="col-sm-12 login-crm-statement">
                        <h1>APP CRM System</h1>
                        <p>Assessment + Planning = Best Offer</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <form class="login-form" novalidate name="LoginForm">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <label class="sr-only" for="login-user-account">User Email</label>
                            <input type="email" id="login-user-account" name="UserEmail" ng-model="user.userEmail" class="form-control" placeholder="User Email" required>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            <label class="sr-only" for="login-user-password">User Password</label>
                            <input type="password" id="login-user-password" name="UserPass" ng-model="user.userPass" class="form-control" placeholder="User Password" required>
                        </div>
                        <div class="login-toolbar clearfix">
                            <div class="pull-left">
                                <label>
                                    <input type="checkbox" name="RememberMe" ng-model="user.rememberMe" id="login-store-status"> Stay Logged
                                </label>
                            </div>
                            <p class="pull-right">
                                <a href="javascript:void(0);">Forget Password？</a>
                            </p>
                        </div>
                        <div class="login-submit row">
                            <div class="col-xs-6 login-submit-btn">
                                <button class="login-submit-reset" ng-class="{'login-submit-btn-active': canRevert()}" ng-disabled="!canRevert()" ng-click="revert()">
                                    <span class="glyphicon glyphicon-refresh"></span>
                                </button>
                            </div>
                            <div class="col-xs-6 login-submit-btn">
                                <button class="login-submit-submit" ng-class="{'login-submit-btn-active': canSave()}" ng-disabled="!canSave()" ng-click="save()">
                                    <span class="glyphicon glyphicon-log-in"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer class="login-main-footer">
        <div class="container">
            <p>Designed and built with all the lovely <a href="http://www.appedu.org" target="_blank">appers</a>.</p>
            <p>Copyright @ 2014-2015</p>
            <p><a class="beian_link" href="http://www.miibeian.gov.cn/" target="_blank">粤ICP备14010098号</a></p>
        </div>
    </footer>
</div>