//== Font relative class for use across site
//
//## font underline
.ac-font-underline
  text-decoration underline

//## font color
.ac-font-red
  color $co-danger
.ac-font-green
  color $co-success
.ac-font-blue
  color $co-info
.ac-font-yellow
  color $co-warning
.ac-font-gray
  color $co-default

//## font size
.ac-font-lg
  font-size 150%
