//== app crm space component for use across site
//
//## margin, padding set class for use across site
.ac-margin-0-all
  margin 0

.ac-margin-0-side
  margin-left 0
  margin-right 0

.ac-margin-1-top
  margin-top 20px
  margin-top 1rem

.ac-margin-1-bottom
  margin-bottom 20px
  margin-bottom 1rem

.ac-padding-0-all
  padding 0

.ac-padding-0-side
  padding-left 0
  padding-right 0