//== Tab Component for use across site
//
//## structure

.ac-tab
  display inline-block
  padding 16px 22px
  padding .8rem 1.1rem
  margin-right 2px
  margin-right .2rem
  ac-font-size(4)
  &:last-child
    margin-right 0

  &,&:link,&:active,&:visited,&:hover
    text-decoration none

.ac-tab-color-gray
  .ac-tab
    background-color $co-default-light
    &,&:hover,&:link,&:active,&:visited
      color $font-blue
    &:hover
      background-color $co-default-dark

  .active
    background-color $co-default-dark

.ac-tab-color-gray-light
  background-color $bg-gray-darker
  .ac-tab
    background-color $bg-gray-darker
    &,&:hover,&:link,&:active,&:visited
      color $font-blue
    &:hover
      background-color $bg-gray

  .active
    background-color $bg-gray