<header class="ac-header navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#ac-navbar-collapse" ng-click="isNavCollapse = !isNavCollapse">
                <span class="sr-only">切换导航条</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-href="{{homeHref}}">
                <img src="/static/assets/imgs/app_logo_h30.png" alt="app crm brand" />
            </a>
        </div>
        <nav class="collapse navbar-collapse" id="ac-navbar-collapse" role="navigation" collapse="isNavCollapse">
            <ul class="nav navbar-nav navbar-left">
                <li class="active"><a href="javascript:void(0)">所有学生</a> </li>
                <li><a href="javascript:void(0)">销售跟踪</a> </li>
                <li><a href="javascript:void(0)">语言考试跟踪</a> </li>
                <li><a href="javascript:void(0)">申请跟踪</a> </li>
                <li><a href="javascript:void(0)">系统配置</a> </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="javascript:void(0)">
                        <img src="/static/assets/imgs/avatar_20x20.jpg" class="avatar_20 img-circle" alt="user avatar" />
                        samhwang1990
                    </a>
                </li>
                <li><a href="javascript:void(0)">消息提醒</a> </li>
                <li><a ng-click="logout('login')">登出</a> </li>
            </ul>
        </nav>
    </div>
</header>